<launch>
  <!-- We resume the logic in gazebo_ros package empty_world.launch, -->
  <!-- changing only the name of the world to be launched -->

<include file="$(find katana_control)/launch/katana_control.launch" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
  

  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find katana_description)/urdf/katana_450_6m90b.urdf.xacro'" />

   <!-- Spawn katana into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
     args="-param robot_description -urdf -model katana -z 0"/>

<node name="katana_walker" pkg="katana_gazebo" type="walker.py" />

</launch>
